rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isUserOwner(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow get, create, update, delete: if isUserOwner(uid);
      allow list: if false;

      match /logs/{logId} {
        allow get, list, create, update, delete: if isUserOwner(uid);
      }
    }

    match /googleLinkSessions/{sessionId} {
      allow get: if isSignedIn() && request.auth.uid == resource.data.sourceUid;
      allow list, create, update, delete: if false;
    }
  }
}
